<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%# {% capture resource_title %}{{ title | strip_html | strip_newlines }}{% endcapture %} %>
<title>
  <%= "#{title} | #{metadata.title}"  %>
  <%# {% if resource_title != "Index" %}{{ resource_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %} %>
  <%#  %>


</title>

<meta name="description" content="<%= metadata.description %>" />
<%= slotted :og_image %>
<%= feed_meta %>

<link rel="stylesheet" href="<%= asset_path 'css' %>" />
<script src="<%= asset_path 'js' %>" defer></script>
<%= live_reload_dev_js %>
